@import '../../../sass/_utilities';
@import '../../../sass/_rem';
@import '../../../sass/common';
@import '../../../sass/common_header_v1';
@import '../../../sass/share';
@import '../../../sass/animation';
@import '../component/card/goods-list';
@import '../component/women-day/qqw-women-head';
@import '../component/women-day/qqw-women-sub-head';
@import '../component/women-day/qqw-women-good-goods';
@include global-reset;

$up1-1:'../img/iocn_xiala@2x.png';
$up1-2:'../img/iocn_xiala@3x.png';

body {
	background-color:#f9f9f9;
	margin: 0 auto;
    width: 100%;
}
.selectbox{
     @include rem ((
         height:88px,
         border-top:1px solid #e6e6e6,
     ));
     background-color:#fff;
}
.cityselect{
    float: left;
    text-align: center;
    @include rem ((
        line-height:88px,
        width:49%,
        font-size:24px,
    ));
}
.cityselect:nth-child(1){
    @include rem ((
        border-right:1px solid #e6e6e6,
    ));
}
.xiala-icon{
    @include rem ((
        width:20px,
        height:10px,
        background-size:100% !important,
    ));
    float: left;
    @include background-dpr($up1-1,$up1-1,$up1-2,center,center);
};