@import '../../../sass/_utilities';
@import '../../../sass/_rem';
@import '../../../sass/common';
@import '../../../sass/animation';
@import '../component/card/topic-head-box';
@import '../component/card/topic-item-card';
@import '../component/card/topic-item';
@include global-reset;

$qqw-fontsize-s: 12px; 	//24px
$qqw-fontsize-m: 14px;			// 28px
.fl{
	float: left;
}
.fr{
	float: right;
}
.commont_list{
	display: block;
	@include rem((
          		padding:28px 20px,
          		border-bottom: 1px solid #f3f3f3,
		));
	overflow: hidden;
}
.common_info{
	overflow: hidden;
}
.face_box{
	@include rem((
          		width: 80px,
          		height: 80px,
          		border-radius: 50%,
          		margin-right:34px,
		));
	overflow: hidden;
}
.face_box  .card-item-face{
	@include rem((
          		width: 100%,
          		height: 100%,
		));
}
.cinfo_box{
	@include rem((
		width:500px,
		));
	overflow: hidden;
}
.user_name{
	@include font-dpr($qqw-fontsize-m, null, bold);
	color: #323232;
	
}
.massage_info{
	@include rem((
		height:48px,
		line-height: 48px !important,
		width:400px,
		));
	 @include font-dpr($qqw-fontsize-s);
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  color:#909090;
}
.info_time{
	@include rem((
		width:190px,
		padding-right: 10px,
		));
}
.ctime{
	@include font-dpr($qqw-fontsize-s);
	color:#909090;
	text-align:left;
}
.status{
	text-align:right;
}
.status span{
	display:inline-block;
	@include rem((
		height:14px,
		width:14px,
		border-radius:50%,
		));
	background-color:#d63d3f;
}
.article_info{
	@include rem((
		height:120px,
		width:100%,
		border-radius:5px,
		margin-top: 20px,
		));
	background-color:#f3f3f3;
	overflow: hidden;
}
.article_img{
	@include rem((
		height:120px,
		width:120px,
		border-radius:5px,
		));
}
.article_img img{
	@include rem((
		height:100%,
		width:100%,
		));
}
.article_con{
	@include font-dpr($qqw-fontsize-s);
	@include rem((
		height:88px,
		line-height: 30px !important,
		width:530px,
		margin: 16px 30px,
		));
	color:#323232;
	overflow:hidden; 

text-overflow:ellipsis;

display:-webkit-box; 

-webkit-box-orient:vertical;

-webkit-line-clamp:3;
}