@import '../../../sass/_utilities';
@import '../../../sass/_rem';
@import '../../../sass/common';
@import '../../../sass/animation';
@import '../component/card/topic-head-box';
@import '../component/card/topic-item-card';
@import '../component/card/topic-item';
@include global-reset;

$qqw-fontsize-s: 12px; 	//24px
$qqw-fontsize-m: 14px;			// 28px
.fl{
	float: left;
}
.fr{
	float: right;
}
// .content-box{
// 		background-color: #fff;
// 		@include rem((
//           margin-bottom: 15px,
//           padding-top:15px,
// 		));
// }
.xitong_list{
	display: block;
	@include rem((
          		padding-top:28px,
          		margin:0 20px,
		));
	overflow: hidden;
}
.xlist_info{
	@include rem((
		height:98px,
		width:100%,
          		border-bottom: 1px solid #f3f3f3,
		));
	overflow: hidden;
}

.message_box{
	@include font-dpr($qqw-fontsize-m);
	color: #323232;
	@include rem((
		line-height: 34px !important,
		width:480px,
		));
	overflow:hidden; 

text-overflow:ellipsis;

display:-webkit-box; 

-webkit-box-orient:vertical;

-webkit-line-clamp:2;
}
.info_time{
	@include rem((
		width:190px,
		padding-right: 10px,
		));
}
.time{
	@include font-dpr($qqw-fontsize-s);
	color:#909090;
	text-align:right;
}
.status{
	text-align:right;
}
.status span.red{
	display:inline-block;
	@include rem((
		height:14px,
		width:14px,
		border-radius:50%,
		));
	background-color:#d63d3f;
}
.status span.write{
	display:inline-block;
	@include rem((
		height:14px,
		width:14px,
		border-radius:50%,
		));
	background-color:#fff;
}