.fl {
    float: left;
}
.fr {
    float: right;
}
.eval_right{
	@include rem(( margin-right: 20px));
}
.eval_right img{ @include rem((width: 25px, height: 25px))}

.eval_right span{
	 color: #323232;
	 @include font-dpr($font-size-20);
	 display: inline-block;
	 @include rem(( top:-5px));
	 position: relative;
}
