$geek-show-solgan-fontsize: 20px;   // 40px
$geek-show-tip-fontsize: 13px;      // 26px
$geek-like-sign-fontsize: 11px;     // 22px
$qqw-fontsize-xs: 12px;             //24px
$qqw-fontsize-mm: 8px;             //24px
$qqw-fontsize-m: 15px;
$qqw-fontsize-ml: 14px;
$qqw-fontsize-l: 16px;

// $icon-like-sign-1: '../../img/homepage/icon_unlike.png';
// $icon-like-sign-2: '../../img/homepage/icon_unlike@2x.png';
// $icon-like-sign-3: '../../img/homepage/icon_unlike@3x.png';
// $icon-like-sign-active-1: '../../img/homepage/icon_like.png';
// $icon-like-sign-active-2: '../../img/homepage/icon_like@2x.png';
// $icon-like-sign-active-3: '../../img/homepage/icon_like@3x.png';

.geek-article, .geek-article-mask {
   @include rem(height, 370px);
}

.geek-article-mask-hack{
     @include rem((height: 463px,margin-bottom:20px));
} 
   .daren{
    color: #000;
    background: white !important;
    @include rem((padding-left: 22px,padding-bottom:40px));
    @include font-dpr($qqw-fontsize-ml);      // line-height: 28px
      .goods_name{
         @include rem((padding-top:20px,padding-bottom:5px));
         @include font-dpr(13px);   
      }
      .num{
         @include rem((padding-top:5px,padding-bottom:20px));
                  color: #909090;
         @include font-dpr(12px);  
      }
      .photo{
         border: 1px solid #e6e6e6;
         border-radius: 50%;
            @include rem((height:60px,width:60px,margin-top: 23px));
      }
      .name{
      position: relative;
      @include rem((margin-right:15px));
      @include font-dpr(13px);   
      }

        .price_before{
          color: #5cb531;
          @include font-dpr(14px);  
          @include rem(());
        }
        .price{
           color: #5cb531;
           @include font-dpr(18px);  
            @include rem(());
        }
        .old-price{
            color: #909090;
            @include font-dpr(13px);  
            text-decoration: line-through;
            // font-variant-ligatures: 
            @include rem(());
        }
      .position{
      position: relative;
      @include rem((margin-left:20px,bottom:15px));
      }
      .focus{
      // border: 1px #5cb531 solid;
      color: #5cb531;
      border-radius: 3px;
      float: right;
      @include rem(( margin: 3px 19px,height:39px,line-height: 48px,padding:0px 17px));
        @include font-dpr($qqw-fontsize-xs); 
      .add{
        @include font-dpr($qqw-fontsize-mm);
      }
      .btn_booking{
        background-color:#5cb531;
        color:white;
        @include rem((padding: 10px 20px));
        @include font-dpr($qqw-fontsize-xs); 
        border-radius:5px;
      }
      .name{

      }
      img{
          @include rem((height:20px,width:30px));
      }
      }
   }


.geek-article {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  background: #000;
}
.geek-article-box {
  background: #fff;
}

.geek-article-hack{
    position: relative;
    display: block;
    width: 710px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 20px;
}

.geek-article-mask {
  background: transparent;
}

.geek-like {
  position: absolute;
  display: inline-block;
  @include rem((
      width: 70px,
      height: 90px,
      right: 20px,
      padding-top: 52px,      // 10 + 42 + 10
      padding-bottom: 6px,
      border-bottom-right-radius: 6px,
      border-bottom-left-radius: 6px
    ));
  top: 0;
  text-align: center;
  background-color: rgba(98,98,98, 0.6);
  border: none;
}

.geek-like-sign-text {
  vertical-align: bottom;
  color: #fff;
  @include font-dpr($geek-like-sign-fontsize, 0.373333rem);      // line-height: 28px
  -webkit-font-smoothing: antialiased;
}

.geek-like-sign {
  position: absolute;
  top: 0;
  display: inline-block;
  @include rem((
      top: 10px,
      left: 14px,
      width: 41px,
      height: 42px
    ));
  background-size: 80% !important;
  // @include background-dpr($icon-like-sign-1, $icon-like-sign-2, $icon-like-sign-3, center, 0.133333rem);
}

@include keyframes(bounceIn) {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.13, 1.13, 1.13);
    transform: scale3d(1.13, 1.13, 1.13);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.geek-like-sign--active {
  @include animation('bounceIn 0.5s 1');
  // @include background-dpr($icon-like-sign-active-1, $icon-like-sign-active-2, $icon-like-sign-active-3, center, 0.133333rem);  // 10px
}

.geek-show-face {
  border-radius: 50%;
  @include rem((
      width: 88px,
      height: 88px,
      margin-top: 40px,
      margin-bottom: 24px
    ));
}

.geek-show-name {
  @include font-dpr($qqw-fontsize-xs);
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.geek-show-solgan, .geek-show-tip {
  color: #fff;
  text-align: center;
}

.geek-show-solgan {
  display: inline-block !important;
  margin: 0 auto;
  max-width: 100%;
  @include ellipsis();
  @include rem((
      min-width: 188px,
      margin-top: 20px,
      margin-bottom: 16px,
      padding: 16px,
    ));
  border-top: 0.04rem solid #fff;      // 3px
  border-bottom: 0.04rem solid #fff;
  -webkit-font-smoothing: antialiased;
  @include font-dpr($geek-show-solgan-fontsize);
}

.geek-show-tip {
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  @include font-dpr($qqw-fontsize-l);
}

.geek-show-tip-text {
  display: inline-block !important;
  @include font-dpr($geek-show-tip-fontsize);
  @include rem((
    padding-top: 6px,
    max-width: 93.5%,
    ));
  @include ellipsis();
}

.triangle_border_up{
    width: 100%;
    @include rem((
      top: 383px,
      border-width: 0 20px 20px
      ));
    position: absolute;
    text-align: center;
}
.triangle_border_up span{
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    @include rem(border-width, 0 20px 20px);
    border-style: solid;
    border-color: transparent transparent #fff;
    position: relative;
    top: 0px;
    left: 0px;
}
.hide{
  display: none;
}
.box_line{
   // @include rem((padding: 20px));
    border-bottom: 1px solid #f9f9f9;
    position:relative;
    .finish-icon{
    text-align: center;
    display: table;
    position:relative;
    background-color:rgba(0,0,0,0.6);
    border-radius:8px;
    border:1px solid #909090;
    position: relative;
    @include rem((height: 60px,width:auto, top: -349px,left:20px));
       img{
        height: 100%;
        @include rem((width: 60px));
            border-radius: 8px 0px 0px 8px;
        }
        .name{
            font-weight: 600;
            position:relative;
            @include rem((top:-22px,padding:0px 20px));
            color: white;
            @include font-dpr(11px);  
        }
    }
  }

