@import '../../../sass/_utilities';
@import '../../../sass/_rem';
@import '../../../sass/common';
@import '../../../sass/share';
@import '../component/card/pe_letter.tag.scss';
@include global-reset;


$bg-1            : '../img/baskin/baskbg.png';
$bg-2            : '../img/baskin/baskbg1.png';

$bgx-1            : '../img/baskin/icon_peo1x.png';
$bgtiem-1       : '../img/baskin/timebg2x.png';

$iconba-1       : '../img/baskin/icon_xia2x.png';
$iconpic-1       : '../img/baskin/icon_pic2x.png';





$color-line    : #e6e6e6;
$color-font-90 : #909090;
$color-font-66 : #666666;
$color-btn-bg  : #5bc531;
$color-white   : #ffffff;

$font-size-26     : 13px;
$font-size-24     : 12px;
$font-size-28     : 14px;
$font-size-40     : 20px;
$font-size-36     : 18px;
$font-size-30     : 15px;
$font-size-32    : 16px;

body {
    background: #f9f9f9;
}

.top_nav{
    display: block;
    @include rem((height:90px,   line-height:90px !important));
    text-align: center;
    background: #ffffff;
    color:#323232;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1222;
    @include font-dpr($font-size-32,2.8);
    font-size: 0.46rem;
    text-align: center;
    border-bottom: 1px #e6e6e6 solid;
}

.top_nav .header_left {
   @include rem((height:90px,   line-height:90px  !important  ,width: 90px,  background-size: 25px 35px !important));
    display: block;
    position: absolute;
    background: url("../img/category_second/nav_icon_back@2x.png") no-repeat center center;
}
.top_as{ @include rem((height:90px));}




.eval_bass{    @include rem(( height: 100px));}

.eval_Bar{ 
    width: 100%;
    @include rem(( min-height: 100px));
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #d6d7dc;
    z-index: 9999999;
    display: table;
}

.eval_Bar .evalinput {
    width: 80%;
}

.eval_Bar .evalinput .con {
    @include rem(( padding: 15px 0 15px 15px, border-radius: 10px,  margin:13px 30px , max-height:50px));
    border: 1px solid #ccc;
    width: 90%;
    -webkit-appearance: none;
    overflow-y: visible;
    resize: none;
    outline: none;  
    @include font-dpr($font-size-30,1.5);
}

.eval_Bar .eval_btn {
    display: block;
    width: 10%;
    @include rem(( margin-top: 20px));
    height: auto;
    vertical-align: middle;
    display: table-cell;
    border: none;
   
}


.eval_Bar .eval_btn p{
     @include font-dpr($font-size-32);
     color: #909090;
}




