@import '../../../../sass/_utilities';
@import '../../../../sass/_rem';
@import '../../../../sass/common';
@import '../../../../sass/common_header_v1';
@import '../../../../sass/share';
@import '../../../../sass/animation';
@include global-reset;

$back-2: '../img/nav_icon_back.png';
$back-3: '../img/nav_icon_back.png';
$goback-2: '../img/nav_icon_back3.png';
$goback-3: '../img/nav_icon_back3.png';
$qqw-fontsize-xs: 11px; 	//22px
$qqw-fontsize: 12px;			// 24px
$qqw-fontsize-m: 14px;			// 28px
$qqw-fontsize-l: 13px;      // 26px
$head-title-fontsize: 17px;		// 34px;
//header样式
body {
	background: #f9f9f9;
	color:#323232;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
//card-nav样式
.card-nav{
	position: fixed;
	left:0;
	top: 0;
	width:100%;
	height:auto;
}
.state_nav{
	@include rem((
		width: 100%,
		height: 80px,
		border-bottom: 1px solid #d6d7dc,
		))
	background:#fff;
}
.state_nav .state_btn{
	float: left;
	width:25%;
	text-align: center;
	@include rem((
		line-height: 80px !important,
		height: 80px,
		))
	color: #666;
	@include font-dpr($qqw-fontsize, null);

}
.state_nav .state_btn span{
	display: inline-block;
	@include rem((
		height: 68px,
		padding:5px 16px,
		))

}
.state_nav .state_active span{
	@include rem((
		border-bottom: 2px solid #5cb531,
		))
	color: #333;
}
// .state_center{
// 	@include rem((
// 		margin: 10px 0,
// 		height:90px,
// 		width:33%,
// 		border-right: 1px solid #e6e6e6,
// 		border-left: 1px solid #e6e6e6,
// 	))
// }

//card-list样式
.card-list{
	@include rem((
		margin:80px 0,
		))
}
.cardbox{
	display:block;
}
.cardlist{
	@include rem((
		width:96%,
		margin-bottom:20px,
		padding:0 2%,
		))
	display:block;
	background:#fff;
	overflow: hidden;
}
.cardcon{
	@include rem((
			padding:20px 0,
			))
	display: flex;
}
.goodsphoto{
	@include rem((
			width:140px,
			height:140px,
			margin-right: 22px,
			))
}
.goodsphoto img{
	@include rem((
			width:100%,
			height:100%,
			))
}
.instructions .goodsname{
	@include font-dpr($qqw-fontsize-l, null);
	@include rem((
			width:540px,
			max-height:80px,
			line-height: 30px !important,
			margin-top: 10px,
			))
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.allnum{
	@include font-dpr($qqw-fontsize-xs, null);
	color: #666;
	@include rem((
			line-height:40px !important,
			margin-right: 20px,
			))
}
.price{
	@include font-dpr($qqw-fontsize-l, null);
	color: #5cb531;
	@include rem((
			line-height:40px !important,
			))
}
.instructions{
	@include rem((
			width:540px,
			))
	
}
.instructions p{
	@include rem((
			margin:20px 0,
			line-height:40px !important,
			))
	overflow: hidden;
	color: #323232;
	
}
.presented{
	color: #999;
}
// .info{
// 	overflow: hidden;
// 	@include rem((
// 			margin-bottom:20px,
// 			))
// }
// .info a{
// 	color:#323232;
// 	@include font-dpr($qqw-fontsize, null);
// }
.card_state{
	@include rem((
			padding: 20px 0,
			border-top:1px solid #e6e6e6,
			))
	overflow: hidden;
}
.card_state .btn{
	@include font-dpr($qqw-fontsize, null);
	@include rem((
		height: 44px,
		padding:0 20px,
		line-height:44px !important,
		border:2px solid,
		border-radius: 5px,
			))
	color: #323232;
	display: block;
}
.card_state .groupdetail{
	border-color: #d6d7dc;
	@include rem((
		margin-right: 22px,
			))
}
.card_state .orderdetail{
	border-color: #5cb531;
	color: #5cb531;
}

.remind{
	@include rem((
		margin-top: 160px,
			))
}