@import '../../../../sass/_utilities';
@import '../../../../sass/_rem';
@import '../../../../sass/common';
@import '../../../../sass/common_header_v1';
@import '../../../../sass/share';
@import '../../../../sass/animation';
@include global-reset;

$back-2: '../img/nav_icon_back.png';
$back-3: '../img/nav_icon_back.png';
$goback-2: '../img/nav_icon_back3.png';
$goback-3: '../img/nav_icon_back3.png';
$qqw-fontsize-xs: 11px; 	//22px
$qqw-fontsize: 12px;			// 24px
$qqw-fontsize-m: 14px;			// 28px
$qqw-fontsize-l: 19px;      // 38px
$head-title-fontsize: 17px;		// 34px;
//header样式
body {
	background: #f9f9f9;
	color:#323232;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
//card-nav样式
.card-nav{
	position: fixed;
	left:0;
	top: 0;
	width:100%;
	height:auto;
	.state_nav{
	@include rem((
		width: 100%,
		height: 110px,
		))
	overflow: hidden;
	background:#fff;
   }
   .state_nav .state_btn{
	float: left;
	text-align: center;
	@include rem((
		line-height: 110px !important,
		height: 110px,
		width: 373px
		))
	color: #666;
	@include font-dpr($qqw-fontsize, null);
	.img{
        @include rem((
			height:10px,
			width:18px,
		))
    }

    }
    .line{
    	border-right  : 1px solid #e6e6e6;
    }
    .state_nav .state_active{
	color:#fff;
	background-color:#5cb531;
}
	.state_txt{
		display:inline-block;
		@include rem((
			margin: 10px 0,
			height:90px,
			line-height: 90px !important,
			width:100%,
			border-right: 1px solid #e6e6e6,
			border-left: 1px solid #e6e6e6,
		))
		text-align:center;
	}
}

//sub-card-nav样式

.sub-card-nav{
	position: fixed;
	width:50% !important;
	background-color: white;       
    border: 1px solid #e9e9e9;
    overflow-x:hidden;
    overflow-y:auto;  
    @include rem((
		width: 100%,
        top:110px,
        max-height: 900px
		))
	.state_nav{
	@include rem((
		width: 100%,
		// height: 110px,
	    // top: 110px;
		))
	// overflow: hidden;
	background:#fff;
   }
   .state_nav .state_btn{
	float: left;
    width:100%;
	text-align: center;
	@include rem((
		line-height: 110px !important,
		height: 110px,
		border-bottom: 1px solid #e9e9e9,
		))
	color: #666;
	@include font-dpr($qqw-fontsize, null);
    }

    .state_nav .state_active{
	color:#fff;
	background-color:#5cb531;
}
	.state_txt{
		display:inline-block;
		@include rem((
			margin: 10px 0,
			height:90px,
			line-height: 90px !important,
			width:100%,
			border-right: 1px solid #e6e6e6,
			border-left: 1px solid #e6e6e6,
		))
		text-align:center;
	}
}

.turn-right{
	right:0;
}
.turn-left{
	left:0;
}

//card-list样式
.card-list{
	@include rem((
		margin:130px 0,
		))
}
.cardbox{
	display:block;
}
.cardlist{
	height: auto !important;
	@include rem((
		width:96%,
		// margin-top:20px,

		padding:20px 20px,
		))
	display:block;
    border-bottom:1px solid #e6e6e6;
	background:#fff;
	overflow: hidden;
}
.cardlist .cardid{
	@include font-dpr($qqw-fontsize, null);
	@include rem((
			line-height: 44px !important,
			))
	text-align:left;
	color:#323232;
}
.cardcon{
	@include rem((
			padding:20px 0,
			))
	display: flex;
}
.card {
	@include font-dpr($qqw-fontsize-xs, null);
	@include rem((
			width:230px,
			height:154px,
			line-height: 154px !important,
			margin-right: 22px,
			))
	color:#fff;
	background-color:#e7c183;
	text-align:center;

}
.instructions{
	@include rem((
			width:440px,
			))
	
}
.instructions p{
	@include rem((
			margin:20px 0 24px,
			))
	overflow: hidden;
	color: #323232;
	
}
.presented{
	color: #999;
}
.instructions span{
	@include font-dpr($qqw-fontsize, null);
	
}
